@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mx-0">
    <div class="col-12 px-0">
        <img src="img/Splash.jpg" alt="Gaia Eterna" class="img-fluid w-100" />
    </div>
</div>

<div class="text-center">
    Coming soon...
</div>
